

# ========================================
# Java / IntelliJ IDEA
# ========================================
*.class
*.jar
*.war
*.ear
*.log
*.ctxt
*.iml
.idea/
*.iws
out/

# ========================================
# Gradle
# ========================================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-cache/
gradle-app.setting
gradle.properties

# Cache của wrapper nếu có
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

# ========================================
# Spring Boot Logs
# ========================================
*.log
logs/
spring.log

# Nếu SCSS build ra static/css hoặc build/resources thì ignore
build/resources/


# ========================================
# Remote tracking branch cleanup cache
# ========================================
.git/modules/
