<!-- Liên hệ -->
<div class="contact-buttons" th:fragment="contact">
    <div class="echbay-sms-messenger style-for-position-br">
        <div class="phonering-alo-alo">
            <a href="tel:0965123855" rel="nofollow" class="echbay-phonering-alo-event">.</a>
        </div>
        <div class="phonering-alo-sms">
            <a href="sms:0965123855" rel="nofollow" class="echbay-phonering-sms-event">.</a>
        </div>
        <div class="phonering-alo-zalo">
            <a href="https://zalo.me/0965123855" target="_blank" rel="nofollow" class="echbay-phonering-zalo-event">.</a>
        </div>
        <div class="phonering-alo-messenger">
            <a href="https://www.facebook.com/messages/t/100009645848201" target="_blank" rel="nofollow" class="echbay-phonering-messenger-event">.</a>
        </div>
    </div>
</div>