
<div class="contact-buttons" th:fragment="contact">

    <div class="echbay-sms-messenger style-for-position-br">
        <div class="phonering-alo-alo">
            <a href="tel:0903123456" rel="nofollow" class="echbay-phonering-alo-event">.</a>
        </div>
        <div class="phonering-alo-sms">
            <a href="sms:0903123456" rel="nofollow" class="echbay-phonering-sms-event">.</a>
        </div>
        <div class="phonering-alo-zalo">
            <a href="https://zalo.me/0903123456" target="_blank" rel="nofollow" class="echbay-phonering-zalo-event">.</a>
        </div>
        <div class="phonering-alo-messenger">
            <a href="https://www.messenger.com/t/aiken.trung" target="_blank" rel="nofollow" class="echbay-phonering-messenger-event">.</a>
        </div>
    </div>

</div>

