<div th:fragment="sidebarService">
    <div class="sidebar">
        <h5>Dịch vụ nổi bật</h5>
        <div class="post-item" th:each="service : ${serviceAdvice}">
            <a th:href="@{'/dich-vu/' + ${service.slug}}" th:text="${service.serviceName}"></a>
        </div>
    </div>
</div>

<div th:fragment="sidebarPost">
    <div class="sidebar">
        <h5>Bài viết mới nhất</h5>
        <div class="post-item" th:each="post : ${postAdvice}">
            <img th:src="${post.imageUrl}" alt="Ảnh bài viết">
            <a th:href="@{'/tin-tuc/' + ${post.slug}}" th:text="${post.title}"></a>
        </div>
    </div>
</div>