<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Sidebar -->
<aside class="col-12 col-md-4 order-2 order-md-2 mb-4" th:fragment="sidebar(latestPosts)">
    <div class="sidebar">
        <h5>Bài viết mới nhất</h5>
        <div class="post-item" th:each="post : ${latestPosts}">
            <img th:src="${post.imageUrl}" alt="Ảnh bài viết">
            <a th:href="@{'/Post/' + ${post.postId}}" th:text="${post.title}"></a>
        </div>
    </div>
</aside>
</body>
</html>