<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="layoutSidenav" th:fragment="sidebar">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <!--                    <div class="sb-sidenav-menu-heading">Core</div>-->
                    <!--                    <a class="nav-link" th:href="@{/admin/home}">-->
                    <!--                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
                    <!--                        Thống kê-->
                    <!--                    </a>-->
                    <!--                    <a class="nav-link" th:href="@{/admin/chart}">-->
                    <!--                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
                    <!--                        Biểu đồ-->
                    <!--                    </a>-->
                    <!--                    <div class="sb-sidenav-menu-heading">Interface</div>-->
                    <!--                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"-->
                    <!--                       aria-expanded="false" aria-controls="collapseLayouts">-->
                    <!--                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>-->
                    <!--                        Giao diện-->
                    <!--                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
                    <!--                    </a>-->
                    <!--                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"-->
                    <!--                         data-bs-parent="#sidenavAccordion">-->
                    <!--                        <nav class="sb-sidenav-menu-nested nav">-->
                    <!--                            <a class="nav-link" th:href="@{/admin/layout-light}">Sáng</a>-->
                    <!--                            <a class="nav-link" th:href="@{/admin/layout-dark}">Ban đêm</a>-->
                    <!--                        </nav>-->
                    <!--                    </div>-->
                    <!--                    <div class="sb-sidenav-menu-heading">Addons</div>-->

                    <a class="nav-link"
                       th:classappend="${currentURI.startsWith('/admin/service')} ? ' active' : ''"
                       th:href="@{/admin/service/list}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Dịch vụ
                    </a>
                    <a class="nav-link"
                       th:classappend="${currentURI.startsWith('/admin/contact')} ? ' active' : ''"
                       th:href="@{/admin/contact/list}">
                        <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                        Khách hàng
                    </a>

                    <a class="nav-link"
                       th:classappend="${currentURI.startsWith('/admin/feedback')} ? ' active' : ''"
                       th:href="@{/admin/feedback/list}">
                        <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
                        Dự án thực tế
                    </a>

                    <a class="nav-link"
                       th:classappend="${currentURI.startsWith('/admin/post')} ? ' active' : ''"
                       th:href="@{/admin/post/list}">
                        <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
                        Bài viết
                    </a>

                    <a class="nav-link"
                       th:classappend="${currentURI.startsWith('/admin/project')} ? ' active' : ''"
                       th:href="@{/admin/project/list}">
                        <div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>
                        Hình ảnh dự án
                    </a>

                    <a class="nav-link"
                       th:classappend="${currentURI.startsWith('/user')} ? ' active' : ''"
                       th:href="@{/user/list}">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
                        Nhân viên
                    </a>

                </div>
            </div>
        </nav>
    </div>
</div>

</body>
</html>