<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Tooplate">

    <title>Moso Interior - Product Detail Page</title>

    <!-- CSS FILES -->

    <link href="/customer/css/post-detail.css" rel="stylesheet">
    <link href="/customer/css/common.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">

<di th:replace="customer/common/header::header"></di>


<!-- Content + Sidebar -->
<div class="container my-5">
    <div class="row gx-5">
        <!-- Nội dung chính -->
        <main class="col-12 col-md-8 mb-5 mb-md-0">
            <nav aria-label="breadcrumb" class="pt-4 mt-5">
                <ol class="breadcrumb bg-transparent p-0 mb-3">
                    <li class="breadcrumb-item"><a th:href="@{/home}" class="text-decoration-none text-dark">Trang
                        chủ</a></li>
                    <li class="breadcrumb-item active text-dark" aria-current="page">Tin tức</li>
                </ol>
            </nav>

            <h4 th:text="${post.title}" class="fw-bold mb-3"></h4>
            <div class="text-muted mb-3">
                <i class="fa-regular fa-clock me-1"></i>
                <span th:text="${post.updateAt != null ? #temporals.format(post.updateAt, 'dd/MM/yyyy HH:mm') : #temporals.format(post.createAt, 'dd/MM/yyyy HH:mm')}"></span>
            </div>

            <!-- Nội dung bài viết -->
            <div class="article-content" th:utext="${post.content}"></div>

        </main>
        <!-- Sidebar -->
        <div th:replace="customer/common/sidebar :: sidebar"></div>

    </div>

    <!-- Nút liên hệ -->
    <div th:replace="customer/common/contact :: contact"></div>
</div>

<div th:replace="customer/common/footer::footer"></div>
<!-- JAVASCRIPT FILES -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
