<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Tooplate">

    <title>Moso Interior - Product Detail Page</title>

    <!-- CSS FILES -->
    <link href="/customer/css/post-detail.css" rel="stylesheet">
    <link href="/customer/css/common.css" rel="stylesheet">
    <link href="/customer/css/project.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">

<div th:replace="customer/common/header::header"></div>

<div class="container">
    <div class="row">
        <main class="col-12 col-md-8 order-2 order-md-1 mb-4">
            <div class="container my-5 service-detail">
                <nav aria-label="breadcrumb" class="pt-4 mt-5">
                    <ol class="breadcrumb bg-transparent p-0 mb-3">
                        <li class="breadcrumb-item"><a th:href="@{/home}" class="text-decoration-none text-dark">Trang chủ</a></li>
                        <li class="breadcrumb-item active text-dark" aria-current="page">Dự án đã hoàn thành</li>
                    </ol>
                </nav>
                <h4 th:text="${project.projectName}"></h4>
                <br>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 col-sm-12" th:each="img : ${images}">
                        <div class="image-wrapper">
                            <img th:src="@{${img.imageProjectUrl}}" alt="Ảnh dự án"
                                 class="img-fluid project-img-hover">
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Sidebar -->
        <div th:replace="customer/common/sidebar :: sidebar"></div>
    </div>
    <!--Button contact-->
    <div th:replace="customer/common/contact:: contact"></div>
</div>

<div th:replace="customer/common/footer::footer"></div>
<!-- JAVASCRIPT FILES -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
